[Unit]
Description=Gunicorn instance for Bengaluru Home Price Predictor
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/BHP/Server
Environment="PATH=/home/ubuntu/BHP/venv/bin"
ExecStart=/home/ubuntu/BHP/venv/bin/gunicorn --workers 1 --bind 127.0.0.1:5000 server:app
Restart=on-failure

[Install]
WantedBy=multi-user.target
